@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

.card-wrapper {
    position: relative;
    width: 150px;
    margin: 0 10px;
}

.card-wrapper img {
    height: 220px;
    width: 100%;
}

.card-wrapper p {
    padding-top: 5px;
}

.card-img {
    background-color: rgb(0 0 0 / 81%);
    object-fit: contain;
}

.img-overlay-wrapper {
    width: 100%;
    height: 220px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.img-overlay {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px !important;
}

.pagetitle {
    height: 55px;
    background-color: #414141;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    font-weight: 600;
    font-size: 22px;
}

.pagetitle-wrapper {
    width: 100%;
}

.navbar {
    height: 55px;
    background: linear-gradient(to bottom, #0097FE 0%, #006AFE 100%);
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar a {
    color: #fff !important;
}

.navbar a:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.navbar-wrapper {
    width: 100%;
}

.signup {
    padding: 6px 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #444444 0%, #343434 100%);
    margin-left: 30px;
}

.navbar-right {
    font-weight: 600;
    font-size: 22px;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}